.indent {
	padding-left: 35px;
	background-color: #f9f9f9;
}
.black-link {
	color: black !important;
}
.remove-lower-margin {
	margin-bottom: 0px !important;
}
.badge {
	background-color: #222222 !important;
}
.pgtext {
	color: white;
	text-transform:uppercase;
}
.progress-bar {
	padding-top: 2px;
}
.tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.progress {
	margin-bottom: 6px !important;
}
